<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- {% block title %}<title>TV Show List</title>{% endblock %} -->

	<style type="text/css">
		* {
			font-family: sans-serif;
		}
		#pageheader {
			background: linear-gradient(#e8a0a5, #c2def2);
			color: #fff;
			padding: 2% 2%;
		}
		.txtarea {
			padding-left: 10%;
			padding-top: 2%;
		}
		.in {
			padding-left: 1%;
		}
		.pagebutt {
			padding: 1% 1%;
			background: linear-gradient(#e8a0a5, #c2def2);
			color: #fff;
			border-radius: 10px 10px;
		}
	</style>
</head>
<body>
	<div id="pageheader"><h1 class="display-3">{% block pageheader %} {% endblock %}</h1></div>
	<div class="container-fluid">
		<div class="txtarea">This is the TV Show watch list!</div>
	</div>
	<div class="container-fluid">
		<div class="txtarea">
			{% block tvlistcontent %} {% endblock %}
		</div>
	</div>


</body>

</html>